# Currently the complete dSPACE team is code owner of this repository. Therefor it is required, that at least one team member approves a pull request.

* @CarlGiest @DennisRos @dSPACE-IAC @DWUdsp

sut-te-bridge/ros2_bridge_ws/src/sut_te_bridge/src @CarlGiest @DWUdsp
sut-te-bridge/ros2_bridge_ws/src/sut_te_bridge/include @CarlGiest @DennisRos @DWUdsp

LICENSE.txt @dSPACE-IAC
ThirdParty.txt @dSPACE-IAC
